
# node-waf configuration
.lock-wscript


# Dependency directories
node_modules

# Optional npm cache directory
.npm



##---------------------
build/
test/

.DS_Store
package-lock.json

public/bundle.js
public/App/bundle.js
public/App/bundle.js.map
bundle.js.map
bundle.js
.idea
