* {
    margin: 0;
    padding: 0;
}
ul, li {
    text-decoration: none;
    list-style-type: none;
}
.homeContainer h1{
    margin: 30px auto;
    text-align: center;
    color: #4dba6d;
    cursor: pointer;
}
.candidateContainer {
    width: 300px;
    margin: 100px auto;
}
.candidateContainer h1{
    text-align: center;
    color: #3a5666;
}
.candidateContainer ul {
    margin-top: 30px;
}
.candidateContainer ul .list {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d3d3d3;
    border-bottom: 0;
    font-size: 18px;
    cursor: pointer;
    color: #3a5666;
}
.candidateContainer ul .list:last-child {
    border-bottom: 1px solid #d3d3d3;
}
.candidateContainer ul .list.active {
    background-color: #d3d3d3;
}
.candidateContainer ul .list:hover {
    background-color: #d3d3d3;
}
.applicationContainer {
    width: 470px;
    margin: 100px auto;
}
.applicationContainer h2{
    text-align: center;
    color: #3a5666;
}
.applicationContainer ul {
    margin-top: 30px;
}
.applicationContainer .defaultText {
    font-size: 24px;
    font-weight: bold;
    color: #999;
}
.applicationContainer ul .applicationList {
    margin-bottom: 40px;
    border: 1px solid #3a5666;
    border-radius: 12px;
    padding: 20px 24px;
}
.applicationContainer ul .applicationList iframe {

    border: 0;
}
.applicationContainer ul .applicationList .headline{
    font-size: 24px;
    line-height: 1.5em;
    color: #3a5666;
    font-weight: bold;
}
.applicationContainer ul .applicationList .text{
    font-size: 18px;
    margin-bottom: 20px;
    color: #999;
}

.applicationContainer ul .applicationList .inputS{
    height: 30px;
    width: 100%;
    border: 1px solid #d3d3d3;
    outline: none;
}
.applicationContainer ul .applicationList .btn {
    font-size: 18px;
    background-color: #3a5666;
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
}